@charset "utf-8";

/*
    author: zpark
    update: 10-02
*/

//공통 사용
@import "helpers/mixin";
@import "helpers/variables";

//기본 스타일
@import "base/common";
@import "base/font";
@import "base/reset";
@import "base/grid";

//레이아웃
@import "layout/footer";
@import "layout/banner.scss";
@import "layout/banner2.scss";
@import "layout/banner3.scss";
