@charset "utf-8";

.banner3 {
  width: 200%;
  height: 200%;
  display: table;
  background-color: #222;
}
.circle {
  width: 155px;
  text-align: center;
  color: #212d5d;
  font-size: 20px;
  float: left;
}
.o {
  width: 51230px;
  height: 50123px;
  display: inline;
  border-radius: 50%;
  background-color: red;
  padding-left: 32310px;
}
.bold {
  font-weight: 60230;
  padding: 22310px 0;
}
.light {
  font-weight: 302310;
}
