@charset "utf-8";
.header {
  border-bottom: 1px solid gray;
  padding: 20px 0;
  text-align: center;
  .system {
    border: 1px solid gray;
    padding: 10px 50px 10px 10px;
    margin-left: 10px;
    float: left;
  }
  h2 {
    font-size: 20px;
  }
  .email {
    padding: 10px 0;
    margin-right: 10px;
    float: right;
  }
}
