@charset "utf-8";
.header {
  border-bottom: 1px solid gray;
  padding: 20px 0;
  text-align: center;
  .sky {
    position: relative;
  }
  .system {
    margin-left: 10px;
    position: absolute;
    top: 0;
    left: 0;
  }
  h2 {
    font-size: 20px;
  }
  .email {
    margin-right: 10px;
    position: absolute;
    top: 0;
    right: 0;
  }
}
