@charset "utf-8";
* {
  box-sizing: border-box;
}
html,
body,
section {
  height: 100%;
}

.layout {
}
.menu {
  width: 15%;
  padding: 0 10px;
  float: left;
  background-color: lightgray;
}
.menu1,
.menu2,
.menu3 {
  padding: 20px 0;
  border-bottom: 1px solid black;
}
.menu1 li,
.menu2 li,
.menu3 li {
  padding: 3px 0;
}
.content {
  border: 1px solid lightgray;
  float: left;
  width: 85%;
}
.library {
  width: 20%;
  padding: 10px;
  border: 1px solid black;
  float: left;
  .library-in {
    background-color: #ebebeb;
    padding: 200px 0;
  }
}
.account {
  width: 80%;
  border: 1px solid black;
  float: left;
  padding: 20px 0;
  position: relative;
  .account-email {
    padding: 8px;
    width: 170px;
    outline: none;
    font-size: 16px;
    border: 1px solid black;
  }
  .check-btn {
    display: inline-block;
    padding: 0 0 0 10px;
  }
  .input-name {
    display: inline-block;
    padding: 0 5px 0 10px;
  }
}
.search {
  display: inline-block;
  position: absolute;
  top: 5px;
  right: 20px;
  .btn,
  .btn2 {
    outline: none;
    padding: 5px 10px;
    display: inline-block;
    width: 100px;
  }
  li {
    padding-top: 5px;
  }
}
.list {
  border: 2px solid gray;
  height: 300px;
  width: 80%;
  float: right;
}
