@charset "utf-8";

@mixin btn($borderColor) {
  width: 300px;
  height: 30px;
  border: 2px solid $borderColor;
  border-radius: 50%;
}
.btn1 {
  @include btn(red);
}
.btn2 {
  @include btn(blue);
}
.btn3 {
  @include btn(green);
}

$path: "../images/";

@mixin bgi($imageName) {
  background-image: url(#{$path}#{$imageName});
}
